.skills-list {
    /* max-width: 450px; */
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     flex-direction: row; 
    background-color: white;
    text-shadow: 20px;
    height: auto;
  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .skills-list {
    flex-direction: column;
  }
}

  ul {
    list-style-type: none;
  }
  
  .skills-list-item {
    margin: 0.5em;
    display: block;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: .9em;
  }

  .skills-title {
    text-align: center;
  }