.active {
  background-color: rgb(112, 140, 216);
}


ul {
  margin: 0;
  margin-right: 1.5em;
  overflow: hidden;
  border: 2px ;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(101, 94, 122);
  background-position: 100%;
  row-gap: 2em;
  height: 50px;
  align-items: center;
  position: sticky;
  position:-webkit-sticky;
  top:0px;
}


li {
  float: right;
}
.active {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
}
.active:before,
.active:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}
.active:before {
  border-top: 2px solid #c47135;
  left: 0px;
  top: -5px;
}
.active:after {
  border-bottom: 2px solid #c47135;
  bottom: -5px;
  right: 0px;
}
.active:hover {
  background-color: #c47135;
}
.active:hover:before,
.active:hover:after {
  height: 100%;
  width: 100%;
}