.jingle {
  flex-direction: column;
  margin-top: 3em;
}

/* .about-name {
    color: darkblue;
} */


.about-name {
  color: darkblue;
}

.about-role {
  margin-top: 1.2em;
}

.about-desc {
  font-size: 1rem;
  max-width: 600px;
}

.about-desc,
.about-contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
  
  color: rgb(104, 104, 235);
}

.about .btn--outline {
  margin-right: 1em;
  border: solid rgb(128, 128, 211);
  background-color: rgb(104, 104, 235);
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

.photo {
  width: 50;
  border-radius: 50%;
  padding: .3rem;
}